@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Zen+Dots&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3{
    font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}